
//@theme "/usr/share/rofi/themes/purple.rasi"
configuration {
    show-icons:true;
    drun-display-format: "{name}";
}
//@theme "/nix/store/smag1avi30y14xhc4k631hpkr4ypx6dw-rofi-2.0.0/share/rofi/themes/purple.rasi"

//@theme "/nix/store/nzw6qbqadl9bf2hv86dj4g2nignnv9b5-rofi-2.0.0/share/rofi/themes/Arc-Dark.rasi"

@theme "/nix/store/90lib5nynyp6klvjphmhd00zd306rmlq-rofi-2.0.0/share/rofi/themes/Arc-Dark.rasi"
